{% extends 'pebHomeBundle::base.html.twig' %}

{% block body %}

    <div id="layout" class="blog pure-g">

        <div class="sidebar pure-u-1 pure-u-md-1-4">
            {% block sidebar %}{% endblock %}
        </div>

        <div class="content pure-u-1 pure-u-md-3-4">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}