parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: TODO
    database_name: TODO
    database_user: TODO
    database_password: TODO
    locale: fr
    secret: ThisTokenIsNotSoSecretChangeIt
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null

    google_api_key: TODO
    jcdecault_api_key: TODO
