<li class="nav-item">
    <a class="pure-button {% if category.urlName == categoryUrl %}focus{% endif %}" href="{{ path('peb_blog_blog_articlescategory', {'category': category.urlName}) }}">{{ category.name }}</a>
</li>