<div class="header">

    <hgroup>
        <h1 class="brand-title">PEBLabs Blog</h1>
        <h2 class="brand-tagline">Just a geek inside</h2>
    </hgroup>

    <nav class="nav">
        <ul class="nav-list">
            {% for categoryList in categories %}
                {{ include('pebBlogBundle:Blog/twig:category.html.twig', {'category': category,'categoryList': categoryList}) }}
            {% endfor %}
        </ul>
        <ul class="nav-list">
            {% for tag in tags %}
                <li class="nav-item-tag">{{ include('pebBlogBundle:Blog:tag.html.twig', {'tag': tag}) }}</li>
            {% endfor %}
        </ul>
    </nav>
</div>